body {
    font-family: "Brygada 1918", serif;
    font-family: "Inter", sans-serif;
}
/* shearable style  */
.text-style {
    color: #ff0000;
}
header {
    width: 1320px;
    height: 550px;
    margin: auto;
    background-image: url(resources/Banner\ Image.png);
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgb(15, 14, 14));
}
nav {
    text-align: center;
    justify-items: center;
    padding-top: 180px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
nav p {
    font-size: 40px;
    font-weight: 700;
}
/* discount section  */
.discount-section {
    margin: 50px 0;
}
.discount {
    text-align: center;
    width:800px;
    height: 500px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 4px;
}
/* welcomming section  */
.welcomming {
    margin: 150px 0px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 50px;
    width: 1320px;
    height: 600px;
    position: relative;
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}
.photo{
    position: absolute;
}
.greeting {
    color: #fff;
    text-align: left;
}
.greeting h2 {
    font-size: 30px;
}
